@mixin fromSize($size) {
   border: calc(#{$size} / 7) solid var(--highlight-color, #fff);
   border-top: calc(#{$size} / 7) solid var(--text-color, #000);
   border-radius: 50%;
   width: $size;
   height: $size;
}

.LoadingIndicatorComponent {
   display: inline-block;
   animation: spin 1s linear infinite;

   @include fromSize(1.5rem);

   &.small {
      @include fromSize(1.1rem);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
